* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


header {
    /* background-image: linear-gradient(45deg, #FFB6C1, #ffb6c18b); */
    width: auto;
    height: auto;
}

.head_1st_container {
    width: auto;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
}

.head1_left>h3 {
    color: var(--dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head1_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.head1_right>li {
    padding-left: 20px;
    color: var(--dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* line-height: 26px; 144.444% */
}

.head1_right>li:hover {
    color: #FF900E;
    text-decoration: underline;
    cursor: pointer;

}

.head_2nd_container {
    width: auto;
    height: 30%;
    text-align: center;
    margin-top: 30px;
    /* background-color: aqua; */
}

.head_2nd_container>h3 {
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.main_para {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
}

.btn_main {
    margin-top: 10px;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    border: 0px;
}

.head_3rd_section {
    width: 100%;
    height: 100vh;
    margin-top: 5px;
    /* background-color: #424242; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FF900E; */
}

.head_img {
    width: 95%;
    height: 90%;
    /* background-color: #FF900E; */
}

.head_img>img {
    width: 100%;
    height: 100%;
}

/* Done heading section */

main {
    width: 95%;
    margin: 0px auto;
}

.list {
    width: 100%;
    height: 800px;
    /*taken height*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    /* text-align: center; */
}

.grey {
    color: grey;
}

.orange {
    color: #FF900E;
}

.list_para>h2 {
    color: var(--dark-01, #131313);
    margin-top: 10px;
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* margin-top: 20px; */
}

.list_image {
    width: 47%;
    height: 80%;
    /* background-color: #727272; */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.list_para {
    width: 47%;
}

.list_image>img {
    width: 100%;
    height: 100%;
}

.b1 {
    margin-left: 100px;
}

/* List Section Done */
.feature_box {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feather_left>h2 {
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 30px;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feather_left>p {
    color: var(--dark-03, #727272);
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top: 7px;
}

.feather_right {
    width: 50%;
    height: 100%;
    /* background-color: chartreuse; */
}

.feather_right>img {
    width: 100%;
    height: 100%;
}

.btn_2{
    width: 250px;
   height: 130px;
   position: relative;
   bottom: 70px;
   right: 100px;
   background-color: #FF900E;
   color: white;
   font-size: 25px;
   border: 0px;
   border-radius: 10px;
}

.fact_para_container{

    margin-top: 150px;
    /* background-color: aqua; */
}

.fact_para_container > h3{
    color: var(--dark-01, #131313);
font-family: Work Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
margin-bottom: 20px;
}

.fact_pic_container{
    height: 40vh;
    width: 100%;
    margin-top: 50px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    height: 40%;
    width: 14%;
    padding-top: 15px;
    border: 2px solid orange;
    text-align: center;
}

.sponsor{
    height: 30vh;
    width: 100%;
    /* background-color: aqua; */
   display: flex;
   justify-content: center;
   align-items: flex-end;
   text-align: center;
}
.sponsor_para > h3{
    color: var(--dark-01, #131313);
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sponsor_image{
    height: 30vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
}

.last{
    width: 100%;
    height: 10vh;
    background-color: #FFF4E7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 576px) {

    /* *{
        overflow-clip-margin: content-box;
        overflow: clip;
    } */
    * {
        overflow-x: hidden;
    }

    header {
        /* background-image: linear-gradient(45deg, #FFB6C1, #ffb6c18b); */
        width: 100%;
        height: auto;
    }

    .head_1st_container{
        flex-direction: column;
    }

    .head_3rd_section {
        margin-top: 30px;
    }

    .head_3rd_section {
        height: 70vh;
    }

    .list {
        height: auto;
        flex-direction: column;
    }

    .btn_main {
        /* margin-right: 100px; */
    }

    .b1 {
        margin-left: 20px;
    }


    .feature_box{
        flex-direction: column;
        height: auto;
    }
    .feather_right{
        width: 100%;
        height: 90%;
    }
    .feather_left{
        display: block;
    }

    .btn_2{
        position: static;
       width: 150px;
       height: 100px;
       margin-left: 30%;
    }
    .fact_para_container{
        margin-top: 60px;
    }
    .fact_pic_container{
        margin-top: 10px;
    }
    .sponsor{
        height: 20vh;
        align-items: flex-start;
    }
    .sponsor_image{
        display: grid;
        grid-gap: 30px;
        width: auto;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .sponsor_image > img{
        width: 100%;
        height: 100%;
    }
    .box{
        width: 20%;
    }
}